<strong>Olá, {{ student }}</strong>
<p>Seja bem vindo a Gympoint. Abaixo segue algumas informações do seu plano:</p>
<p>
  <strong>Plano escolhido: </strong> {{ plan }} <br />
  <strong>Válido até: </strong> {{ end_date }} <br />
  <strong>Valor: </strong> {{ total_price }} <br />
</p>
